<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseController</servlet-name>
        <servlet-class>controller.CreateCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseController</servlet-name>
        <servlet-class>controller.EditCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudyController</servlet-name>
        <servlet-class>controller.StudyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>controller.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveQuestionController</servlet-name>
        <servlet-class>controller.RemoveQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayQuestionController</servlet-name>
        <servlet-class>controller.DisplayQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>controller.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseController</servlet-name>
        <url-pattern>/createCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseController</servlet-name>
        <url-pattern>/editCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudyController</servlet-name>
        <url-pattern>/study</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveQuestionController</servlet-name>
        <url-pattern>/RemoveQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayQuestionController</servlet-name>
        <url-pattern>/displayQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
